.container {
  position: relative;
}

.svg {
  transform: rotate(-90deg);
}

.progressCircle {
  transition: stroke-dashoffset 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.value {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
}

.label {
  font-size: 11px;
  color: #8b92b8;
  text-transform: uppercase;
  letter-spacing: 1px;
}
